<h1>Добавить новый MLM-проект</h1>

{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}



<form action="/add" method="POST" novalidate>
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{data.title}}">
    <label for="title">Название проекта</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>

  <div class="input-field">
    <input id="minDeposit" name="minDeposit" type="number" class="validate" required min="1"
      value="{{data.minDeposit}}">
    <label for="minDeposit">Минимальный взнос</label>
    <span class="helper-text" data-error="Введите сумму минимального взноса"></span>
  </div>


  <div class="input-field">
    <textarea id="description" name="description" class="validate materialize-textarea" minlength="10" maxlength="1000"
      required></textarea>
    <label for="description">Описание</label>
    <span class="helper-text" data-error="Введите описание"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{data.img}}">
    <label for="img">URL картинки</label>
    <span class="helper-text" data-error="Введите url картинки"></span>
  </div>



  <input type="hidden" name="_csrf" value="{{csrf}}">

  <button class="btn btn-primary">Добавить MLM-проект</button>
</form>