<div class="company">
  <h1>{{company.title}}</h1>

  <img src="{{company.img}}" alt="{{company.title}}">

  <p class="description">{{company.description}}</p>

  <p class="minDeposit big">{{company.minDeposit}}</p>


</div>